<div class="container text-center mt-4">
  <form action="/answer" data-turbo="false" class="d-flex justify-content-center">
    <input type="text" name="question" class=" form-control w-25" >
    <input type="submit" value="Ask!" class="btn btn-warning ms-2">
  </form>
</div>
